@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
    --card: 255 255 255;
    --card-foreground: 23 23 23;
  }

  .dark {
    --background: 23 23 23;
    --foreground: 255 255 255;
    --card: 32 32 32;
    --card-foreground: 255 255 255;
  }
}

body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
}